.about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.jade {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 372px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 8px;
    margin: 25px;
}

.about-user {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 56px;
}

.about-profile-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 10px;
}

.about-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-name,
.about-subtext {
    color: #262626;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.about-name {
    font-weight: 600;
}

.about-subtext {
    font-weight: normal;
}

.about-image-container {
    width: 372px;
}

.about-image {
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;
}

.about-comments {
    display: flex;
    flex-direction: column;
    width: 100%
}

.about-comment {
    display: flex;
    flex-direction: row;
    padding: 0px 12px;
}
