.posts-user-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 950px;
}

.profile-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.profile-image-container {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    max-width: 300px;
    height: auto;
}

.profile-details {
    padding-left:10px;
    align-items: stretch;
    height: auto;
    max-width: 600px;
}

.profile-info-container {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    position: relative;
    margin-top: 10px;
    margin-bottom:20px;
}

.user-posts-follow {
    display: flex;
    flex-direction: row;
    height:24px;
    margin-bottom:20px;
    align-items: center;
}

.user-posts-follow * {
font-size:16px;
}
.user-posts-follow-section{
margin-right:7px;
}

.profile-modal-bttn{
    margin-left:20px;
border:transparent;
background-color: transparent;
cursor: pointer;
}
.number-bold{
    font-weight: 600;
}

.profile-username-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;

}

h2.profile-page-username {
    margin: 0px 20px 0px 0px;
    font-size: 28px;
    font-weight: 300;
}

.edit-profile-button {
    display: flex;
    align-items: center;
    border: rgb(199, 197, 197) 1px solid;
    border-radius: 4px;
    padding: 5px;
    height: 30px;
    padding-left: 9px;
    padding-right: 9px;
}

.follow-profile-button {
    border-radius: 4px;
    background-color: #0095F6;
    padding: 5px;
    height: 30px;
    padding-left: 9px;
    padding-right: 9px;
    cursor: pointer;

}

.follow-profile-button button {
    font-weight: bold;
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

a.edit-profile-link:hover {
    text-decoration: none;
}

.page-margins {
    flex-grow: 1;
    margin: 0 auto 30px;
    max-width: 935px;
}

.user-name-bio {
    font-size: 16px;
    margin-bottom: 5px;
    font-size: 16px;
}

#user-profile-name-bio {
    font-weight: 600;
}

.user-page-posts-container {
    border-top: rgb(199, 197, 197) 1px solid;
    width: 935px;
}

.toggle-user-profile-posts {
    display: flex;
    justify-content: center;
    margin: 15px 0px 10px;
    font-weight:600;
    font-size:13px;
}


@media screen and (min-width:736px) {
    .profile-image-container {
        flex-basis: 0px;
        flex-grow: 1;
        margin-right: 30px;
        max-width: 300px;
        height: auto;
    }
}

@media screen and (min-width:736px) {
    .profile-info-container {
        margin-bottom: 45px;
    }

}
