.post-modal-feed-bttn {
    background-color: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
}

.view-all-comments {
    color: #8E8E8E;
    margin-top:5px;
}

.bubble:hover {
    opacity: 0.5;
}

.common-like-image {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
