.navbar-outer {
    border-bottom: 1px rgb(219, 219, 219) solid;
    width: 100%;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 60px;
    background-color: white;
}


.navbar-container {
    margin: auto;
    max-width: 975px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
}

.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo {
    margin-top: 7px;
    width: 103px;
}

.about-icon {
    height: 23px;
    width: 23px;
    margin: 1px;
    color: rgb(38, 38, 38);

}

.about-icon-div {
    padding-right: 22px;
}

.profile-icon {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
}


.home-icon-div {
    margin-left: 10px;
    padding-right: 24px;
}

.explore-icon-div {
    padding-right: 24px;
}

.outline {
    padding: 1px;
    outline: 1px #262626 solid;
}

.profile-icon-div {
    margin-top: -4px;
    height: 60px;
    display: flex;
    align-items: center;
}
