.post-modal-bttn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 10px;
    padding: 0px;
}


.post-modal-bttn-img {
    height: 293px;
    width: 293px;
}

.post-mod-container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    max-height: 600px;
}

.post-mod-image {
    width: 100%;
    max-height: 600px;
}

.post-mod-left {
    max-height: 650px;
    max-width: 500px;
    width: 50%;
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 10px 0px 0px 10px;
}

.post-mod-right {
    width: 50%;
    max-width: 500px;
    margin: 5px;
}

.post-mod-right * {
    padding: 5px;
}

.post-modal-username-follow-button {
    display: flex;
    flex-direction: row;
    padding-bottom: 0px !important;
}

.post-modal-caption-buttons {
    display: flex;
    flex-direction: row;
}

button.post-modal-edit-delete-buttons {
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: #18b1f2;
    background-color: white;
}

.post-modal-username-edit-field {
    display: flex;
    flex-direction: row;
}

.post-modal-username-caption {
    margin-top: 5px;
}

.post-modal-username-only {
    margin-top: 10px;
}

.post-modal-comments-section {
    overflow-y: scroll;
    max-height: 300px;
}

