.post-modal-bttn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 10px;
    padding: 0px;

}


.post-modal-bttn-img {
    height: 293px;
    width: 293px;
}

.post-mod-container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    height: 600px;
    width: 974px;

}

.post-mod-image {
background-color: white;
    width: 100%;
}

.post-mod-left {
    max-height: 650px;
    max-width: 500px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;

}

.post-mod-right {
    width: 50%;
    max-width: 500px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgb(219, 219, 219, 0.5);
}

.post-mod-right * {
    padding: 5px;
}

.post-modal-username-follow-button {
    display: flex;
    flex-direction: row;
    padding-bottom: 0px !important;
    border-bottom: 1px solid rgb(219, 219, 219, 0.5);
}

.post-modal-caption-buttons {
    display: flex;
    flex-direction: column;
}

button.post-modal-edit-delete-buttons {
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: #0095F6;
    background-color: white;
    font-weight:600;
    margin-left:5px;
}

.post-modal-username-edit-field {
    display: flex;
    flex-direction: row;
    margin-bottom:-40px;
}

.post-modal-username-caption {
    margin-top: 5px;
    width: 380px;


}

.post-modal-username-only {
    margin-top: 7px;
    margin-left: -5px;
}



.post-modal-comments-section {
    overflow-y: auto;
    max-height: 390px;
    border-bottom: 1px solid rgb(219, 219, 219, 0.5);
}

.post-modal-likes-create-comment-container {
    border-top: 1px solid rgb(219, 219, 219, 0.5);
}

.post-modal-likes-create-comment-container * {
    padding: 0px
}




.post-modal-profileimage img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}


.post-modal-username-caption a {
    margin-left: -5px;
    width: 360px;

}

.post-modal-likes-button-container {
    margin-left: 20px;
}

.edit-comment-text {
    width: 360px;
    height: 80px;
    border-radius: 5px;
    border:none;
    background-color: rgba(211, 211, 211, .3);
}


.post-modal-profileimage {
    display: flex;
    flex-direction: row;

}

.owner-image img {
    margin-top: 10px;
    margin-left:5px;
}

.edit-post-text {
    width: 360px;
    height: 160px;
    border-radius: 5px;
    border: none;
    margin-top:-10px;
    background-color: rgba(211, 211, 211, .3);
}

.pm-edit-del {
    display: flex;
    margin-top:-6px;
    margin-right:-15px;
    width:100%;
    justify-content: right;

}

.pm-del button {
    color: #ed4956;
    font-weight: 600;
}

.pm-edit button {
    font-weight: 600;
margin-right:-5px;
}

.post-modal-caption a{
    color: #00376B;
    font-weight:normal;

}
