.search-bar {
  z-index: 1;
}

.search-field {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  padding: 3px 16px;
  background-color: #EFEFEF;
  border: none;
  border-radius: 5px;
}

.search-icon {
  margin-right: 10px;
}

.search-field>input {
  font-size: 16px;
  background-color: #EFEFEF;
  border: none;
}

.search-results {
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 1;
  border-radius: 3px;
  box-shadow: 0px 0px 3px gray;
  position: absolute;
  top: 55px;
  height: 450px;
  width: 375px;
  padding: 12px 0px 0px;
}

.search-results>div {
  padding: 8px 16px;
}

.search-results>div>a {
  text-decoration: none;
}

.search-none {
  display: hidden;
}

.search-user>a>div>img {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  margin-right: 10px;
}

.search-user-name {
  color: #8e8e8e;
}

.search-user>a {
  display: flex;

}

.search-user-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search-username {
  font-weight: 600;
}
