.create-post-bttn {
    border: transparent;
    background-color: white;
    width: 24px;
    height: 24px;
    margin-right: 24px;
    cursor: pointer;

}

.create-logo {
    margin-left: -6px;
}

.create-post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.create-post-header-text {
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
}

.create-post-fields {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.create-post-profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 10px;

}

.create-post-profile-username {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    border-right: solid 1px lightgrey;
    padding-right: 20px;
    min-width:120px;
}


textarea.create-post-form-caption {
    border: none;
    outline: none;
    height:158px;
    width: 550px;
    padding: 30px;
    padding-top:10px;
}

.create-post-image-upload-field {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

#create-post-files.create-post-image-upload-section{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.create-post-profile-pic-username {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-left: 10px;


}

.create-post-form-container {
    border-radius: 10px;
    background-color: white;
    height: 600px !important;
    min-width:600px;
}

button.create-post-share-button {
    background: none;
    border: none;
    color: #18b1f2;
    font-weight: 600;
    cursor: pointer;
}

input[type=file]::file-selector-button {
    font-weight: 600;
    color: white;
    background-color: #0095F6;
    border: none;
    border-radius: 5px;
    padding: 8px;
    padding-left:16px;
    padding-right:16px;
    cursor: pointer;
    margin-right:10px;
    /* visibility: hidden;
    display: none; */
}



.create-post-top {
    display: flex;


}

.create-post-bottom {
    height:158px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;

}

.image-label {
    font-weight: 600;
    margin-right: 10px;
}

.create-post-msg{
    font-weight:600;
}

.third{
    width:33%;
display:flex;
}

.loading-bttn{
    justify-content: right;
}
