.likes-profile-image{
height:44px;
width:44px;
border-radius: 50%;
}

.likes-user-container{
    display: flex;
}

.likes-modal-container *{
    padding:5px;
}

.likes-modal-bttn {
    background-color: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.like-info-container {
    height: 18px;
    margin: 0px 0px 8px;
    padding: 0px 12px
}
