#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color: transparent;
}



.list-modal-container {
  background-color: white;
border-radius: 10px;
overflow: hidden;

}

.list-users {
  border-top: 1px solid lightgrey;
  max-height: 356px;
  width:100%;
  overflow: hidden;
  overflow-y: scroll;
  border-bottom-right-radius:10px;
}


.list-title {
  font-size: 16px;
  height: 42px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;

}

.list-profile-image {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  margin: 10px;
}

.list-profile-name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
}

.list-user-container {
  display: flex;
  width: 400px;
  height: 60px;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: space-between;
  align-items: center;
}

.list-user-info {
  display: flex;
}


.list-fullname {
  color: #8E8E8E
}

.list-bttn-div button {
  font-weight: 600;
  color: white;
  border: transparent;
  background-color: #0095F6;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 4px;
}
