.hashtag-posts-header {
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    width: 975px;


}

.hashtag-title {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 5px;
    max-width:600px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hashtag-count {
    font-size: 16px;
}

.hashtag-count-number {
    font-size: 16px;
    ;
    font-weight: 600;
}
