.page-splash-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page-splash-content {
    display: flex;
    height: 756px;
    justify-content: center;

}

.page-splash-content-left {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../images/instaspamsplash.png');
    width: 450px;
    height: 615px;
    margin-top: 85px;
    margin-right: 12px;

}

.page-splash-content-right {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
}



.page-splash-content-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    border: solid 1px #D8D8D8;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
    height: 423px;
    margin-top: 85px;
    background: #FFFFFF;

}

.page-splash-content-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    border: solid 1px #D8D8D8;
    padding: 15px;
    background: #FFFFFF;
}

.page-splash-login-btn {
    width: 258px;
    color: white;
    background-color: #0095f6;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
    padding: 6px;
    font-weight: 600;
}

.page-splash-content-input {
    background: #fafafa;
    width: 258px;
    height: 36px;
    margin: 3px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    padding: 9px 0 7px 8px;
}

.page-splash-signup-link {
    color: #0095f6;
    padding-left: 3px;
    border: none;
    background: none;
    cursor: pointer;
}

.page-splash-logo {
    margin-bottom: 15px;
}

.page-splash-demo-btn {
    border: none;
    background: none;
    cursor: pointer;
    color: #385185;
    font-weight: bolder;
}

.page-splash-linebreak {
    display: flex;
    padding-bottom: 15px;
    padding-top: 10px;
}

.page-splash-linebreak-lines {
    background-color: #dbdbdb;
    height: 1px;
    position: relative;
    top: 0.45em;
    width: 111px;

}

.page-splash-linebreak-text {
    color: #8e8e8e;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.splash-img-container{
    position: relative;
}

.page-splash-img {
    margin-left: 111px;
    margin-bottom: 23px;
    height: 541px;
    width: 250px;

}

.splash-img{
    position: absolute;
    left:-69px;
    top:-282px;
}

.fade-none {
    opacity: 0;

}

.fade-out {
    opacity: 0;
    -webkit-transition: opacity 1.5s ease-out;
    transition: opacity 1.5s ease-out;
    visibility: visible;
}

.fade-in {
    opacity: 1;
    -webkit-transition: opacity 1.5s ease-in;
    transition: opacity 1.5s ease-in;
    z-index: 2;
    visibility: visible;
}






@media (max-width: 850px) {
    .page-splash-content-left {
        display: none;
    }

}
